@model List<CetStudentBook.Models.Book>

<h2>Books List</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Book</a>
</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Publish Date</th>
        <th>Page Count</th>
        <th>Second Hand?</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Author</td>
            <td>@item.PublishDate.ToShortDateString()</td>
            <td>@item.PageCount</td>
            <td>
                @if (item.IsSecondHand)
                {
                    <span style="color: green; font-style: italic;">✔ Yes</span>
                }
                else
                {
                    <span style="color: red; font-style: italic;">✘ No</span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-dark btn-sm">Edit</a> 
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>